.index__container {
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.activity {
  display: flex;
  width: 100%;
}

.activity__main {
  width: 100%;

  /* padding: 0.4rem 0rem 0.6rem 0.8rem; */
  /* padding: 0.4rem 0 0.6rem 0; */
  /* padding: 0.5rem 0 0.8rem 0; */
  padding: 0.5rem 0.6rem 0.8rem;
  /* padding: 0.6rem 0.2rem; */
  /* border-bottom: 1px solid #eaeaea; */
  border-bottom: 3px solid #d3d8ff66;
}

.activity__accept {
  width: 100px;
  border-left: 2px solid #fff;
  background: #ffffffcc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
}

.activity__category {
  margin-left: 1rem;
  padding: 0.1rem 0.4rem;
  border-radius: 8px;
  font-size: 11px;
  color: #fff;
  /* font-weight: bold; */
  border: 1px solid var(--bg-color);
  background: color-mix(in srgb, var(--bg-color) 10%, transparent);
  color: var(--bg-color);
}

.activity__details {
  opacity: 0.7;
}

.activity__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 0 0.2rem;
  font-weight: 400;
  font-size: 16px;
  white-space: nowrap;
  color: var(--color-font-light);
  font-family: var(--font-main);
}

.activity__title .late_notice {
  color: blue
}

.activity__bar {
  --bar-skew: -24deg;
  width: 100%;
  position: relative;
  overflow: hidden;

  --activity_bar_height: 12px;
  --bar-border-color: #fff;
  height: var(--activity_bar_height);
  /* border-radius: 2px 0 0 2px; */
  /* border-radius: 13px 0 0 3px; */
  background: #d6daea;
  /* border-top: 1px solid var(--bar-border-color); */
  /* border-bottom: 1px solid var(--bar-border-color); */
  transform: skew(var(--bar-skew));
}

.activity__bar_notches {
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-columns: repeat(var(--interval), minmax(0, 1fr));
  z-index: 2;
  pointer-events: none;
  align-content: flex-end;
}

.activity__bar_notch {
  height: var(--activity_bar_height);
}
.activity__bar_notch:not(:last-child) {
  border-right: 2px solid var(--bar-border-color);
  transform: skew(var(--bar-skew));
}

.activity .activity__bar_background {
  position: absolute;
  inset: 0;
  height: 100%;
  --margin-l: calc(100% / var(--interval) * var(--delay));
  margin-left: var(--margin-l);
  width: calc(100% - var(--margin-l));
  z-index: 3;

  /* background: #7C59DE; */
  /* background: linear-gradient(to right, #0061FF 90%, #0061FF00 100%); */
  /* background-image: linear-gradient(to right, #00c6ff 0%, #0072ff 51%, #00c6ff 100%); */
  /* background-size: 200%; */
  /* background-position: right; */
  /* Blue */
  background: linear-gradient(to right, #0072ff, #00c6ff);
  /* background: linear-gradient(to right, #0072ff, #00c6ff 80%, #fff); */
  /* Yellow: background: linear-gradient(315deg, #F9F698, #F0F719); */
  /* background-image: linear-gradient(to right, #ff0844 0%, #ffb199 100%); */
  /* background-image: linear-gradient(to right, #F40009 0%, #F08080 100%); */
  /* Green */
  /* background-image: linear-gradient(to right, #b3ffab 0%, #12fff7 100%); */
  /* background-image: linear-gradient(to right, #00FA9A 0%, #00FA9A44 100%); */

  /* White to gray */
  /* background-image: linear-gradient(to right, #FFF 0%, #80808045 100%); */

  transform: skew(var(--bar-skew));
}
.activity-inner {
  background: #fff;
}
.activity-inner--selected {
  /* background: linear-gradient(to right, #00c6ff33 0%, #0072ff11 51%, #00c6ff55 90%); */
  background: #6c92ec1f;
  background: var(--new-blue);
  background-size: 200%;
  background-position: right;
  /* background: linear-gradient(to right, #b4d5f4, #84d8fa) */
  /* background: linear-gradient(to right, #00c6ff33 0%, #0072ff11 51%, #00c6ff55 90%); */
}
.activity-inner--selected .activity__title {
  color: #fff;
}
.activity-inner--selected .activity__bar_background {
  background: #fff;
}

.floating_add_button {
  position: fixed;
  z-index: 99;
  bottom: 1.5rem;
  height: 3rem;
  right: 1.5rem;
  padding: 0 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--blue);
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  /* transform: skew(-12deg); */
}
.floating_add_button span {
  /* transform: skew(12deg); */
}

.modal_button {
  margin: 0 0.2rem;
}
