.button {
  --color: var(--blue);
  display: inline-block;
  background: var(--color);
  color: #fff;
  min-width: 50px;
  border-radius: 4px;
  padding: 0.3rem 1.3rem;
}

.button--outline {
  border: 1px solid var(--color);
  border-color: color-mix(in srgb, var(--color) 30%, transparent);
  background: transparent;
  color: var(--color);
}

.button--go {
  --color: var(--green);
  /* background: var(--green); */
}

.button--grey {
  --color: var(--grey);
  border-color: color-mix(in srgb, var(--grey) 20%, transparent);
  /* background: var(--green); */
}
